
*{font-family: 'Open Sans', sans-serif !important; color : rgba(44, 62, 80,1.0);}

body{
	background: url("bg4.jpg") no-repeat;
	background-size: 100%  auto;
}
#content{
	margin-top: 50px;
	padding: 20px;
	border-radius: 3px;
	color: #FFF;
	text-shadow: 1px 1px 1px #AAA;
}
h1{
	font-size:70px;
	width: 100%;
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
	text-shadow: 2px 3px 3px #333;
}
.form-group{margin-bottom: 20px;}
.input-group{width: 100%;}
.input-group-addon{width: 130px;}
.input-group-addon.small{width:40px;}
button{width: 100%;}